.levelMain {

  .goBack {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 1.5%;
    width: 70px;

    svg {
      width: 20px;
      color: #dddddd;
    }

    span {
      color: #ddd;
      font-family: "Open sans", sans-serif;
    }
  }

  .levelHeader {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 2%;
    @media(max-width:830px){
      flex-direction: column;
    }

    iframe{
      border: none;
      @media(max-width:830px){
        width: 100%;
      }
    }

    .levelRightSide {
      h2 {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        font-size: 30px;
      }

      p {
        font-family: "Open sans", sans-serif;
        font-weight: 400;
        color: #dddddd;
        font-size: 18px;
        width: 400px;
        @media(max-width:830px){
          width: 100%;
          margin-bottom: 3%;
        }
      }
    }
  }

  .levelContent {
    background-color: #1b2052;
    border-radius: 8px;
    padding: 2% 0;
    margin-top: 2%;
    .levelContentText {
      text-align: center;
      font-family: Nunito, sans-serif;
      font-weight: 600;
      font-size: 30px;
      color: #ffffff;
    }
    .gameTest{
      margin-top: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .levelContentTest{
        display: flex;
        align-items: center;
        h2{
          font-size: 27px;
          color: #ffffff;
          font-family: "Open sans",sans-serif;
          font-weight: 500;
        }
        svg{
          color: #ffffff;
          font-size: 20px;
        }
      }
      .checkGameBtn{
        width: 90px;
        height: 38px;
        background-color: rgba(255, 115, 0, 0.79);
        border: none;
        color: #ffffff;
        font-family: "Open sans",sans-serif;
        transition: all 400ms;
        &:hover{
          cursor: pointer;
          background-color: rgb(255, 115, 0)
        }
      }
    }
  }
}