footer {
  width: 100%;
  background-color: #111538;
  margin: 0 auto;
  padding: 3% 4.5%;
  z-index: 1000;

  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      .gameLogo {
        font-family: Poppins, sans-serif;
        font-size: 26px;
        font-weight: 600;
        color: #ffffff;
      }
      button{
        background-color: #ff8000;
        border: none;
        width: 120px;
        height: 37px;
        font-family: Nunito,sans-serif;
        transition: all 400ms;
        &:hover{
          background-color: #ffb700;
          cursor: pointer;
        }
      }
    }
  }
}