.header {
  background-color: #020b18;
  padding: 20px 0;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      .gameLogo {
        font-family: Poppins, sans-serif;
        font-size: 26px;
        font-weight: 600;
        color: #ffffff;
      }
    }


    nav {
      ul {
        li {
          display: inline-block;
          margin: 0 15px;
          color: #ffffff;
          font-size: 20px;
          font-family: Aeroport, sans-serif;
        }
      }
    }

    .headerButton {
      width: 120px;
      height: 45px;
      background-color: #ffb700;
      font-family: Roboto, sans-serif;
      font-weight: 600;
      border: none;
      transition: all 0.4s;

      &:hover {
        background-color: #ff8000;
        cursor: pointer;
      }
    }
  }

}